services:
  app:
    depends_on:
      - postgres
  postgres:
    image: postgres:9.6-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres: {}
