apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: <%= microserviceName %>-deployment
spec:
  replicas: 2
  strategy:
    rollingUpdate:
      maxSurge: 100%
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: <%= microserviceName %>
    spec:
      containers:
      - name: <%= microserviceName %>
        image: gcr.io/co-gcp/<%= microserviceName %>
        env:
        - name: NODE_ENV
          value: ${STAGE}
        - name: NODE_CONFIG_ENV
          value: ${STAGE}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 4000
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 1
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /<%= microserviceName %>/healthcheck
            port: 4000
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 1
        readinessProbe:
          httpGet:
            path: /<%= microserviceName %>/healthcheck
            port: 4000
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 1
